doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Online Auction System
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    style *{margin: 0px; padding: 0px;}.productCategoryContain{margin: 0px; background-color: #f2f4f7;}.categoryName{background-color: #f2f4f7; margin-top: 0px; padding-top: 10px; padding-bottom: 0px; font-family: sans-serif; font-size: 1.2em;}.product{border-radius: 25px; padding: 15px; background-color: #fff; border-left: 10px solid #f2f4f7; border-right: 10px solid #f2f4f7; border-bottom: 10px solid #f2f4f7;}.productImage{width: 100%; height: 280px; position: relative; margin: 0 auto;}.productImageContent{position: absolute; bottom: 0px; left: 0px; right: 0px; top: 0px; margin: auto; max-width: 70%; max-height: 70%;}.productName, .bidButton{margin-top: 0px; padding: 15px; font-size: 1.1em;}.signInDrop{top: 115%; left: -170px;}.signUpForm{max-width: 400px; font-family: sans-serif; font-size: 1.1em;}.profileContain{font-family: sans-serif; font-size: 1.1em; max-width: 500px;}.inputLabels{display: block;}.products{padding-top: 15px;}body{background-color: #f2f4f7;}
    script(type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
      a(class="navbar-brand text-white font-weight-bold" href="/") Auction System  
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarSupportedContent",aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon text-white")
      div(class="collapse navbar-collapse", id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item mr-2 dropdown")
            a(class="nav-link dropdown-toggle text-white", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              | Categories
            div(class="dropdown-menu", aria-labelledby="navbarDropdown")
              each category in [{name: 'Real Estate', url: 'realestate'}, {name: 'Antiques', url: 'antiques'}, {name: 'Paintings', url:'paintings'}, {name: 'Gold Reserves', url: 'goldreserves'}, {name: 'Gem Reserves', url: 'gemreserves'}, {name: 'Aircrafts', url: 'aircrafts'}, {name: 'Cars', url: 'cars'}, {name: 'Other', url: 'other'}]
                a(class="dropdown-item", href='/product/category/'+category.url)= category.name
        if user
          div(class="navbar-nav mr-5 nav-item dropdown")
            a(class="nav-link dropdown-toggle text-white", href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")= user.first_name
            div(class="dropdown-menu", style="left: -40px;", aria-labelledby="navbarDropdown")
              a(class="dropdown-item", href='/product/newauction') Start Auction
              a(class="dropdown-item", href='/user/auctions') Your Auctions
              a(class="dropdown-item", href='/user/bids') Your Bids
              a(class="dropdown-item" href='/user/updateprofile') Profile
              a(class="dropdown-item" href='/signout') Sign out
        else
          div(class="navbar-nav mr-4 nav-item dropdown")
            a(class="nav-link dropdown-toggle text-white" href="#", id="navbarDropdown", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Sign in
            div(class="signInDrop dropdown-menu", aria-labelledby="navbarDropdown")
              form(action="/signin", method="post", class="px-4 py-3")
                if(errors)
                  div(class="form-group text-danger") Please Enter Valid Credentials
                div(class="form-group")
                  label(for="DropdownFormEmail") Email address
                  input(name="email", type="email", class="form-control", id="DropdownFormEmail", placeholder="email@example.com")
                div(class="form-group")
                  label(for="DropdownFormPassword") Password
                  input(name="password", type="password", class="form-control", id="DropdownFormPassword", placeholder="Password")
                button(type="submit", class="btn btn-primary") Sign in
              div(class="dropdown-divider")
              a(class="dropdown-item", href="/signup") Are you New here? Sign up
              a(class="dropdown-item", href="#") Forgot Password?
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js", integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js", integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js", integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl", crossorigin="anonymous")
    