<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Online Auction System</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Online Auction System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Category 1</a>
                        <a class="dropdown-item" href="#">Category 2</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline mr-4 my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="navbar-nav mr-5 nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    My Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Start Auction</a>
                    <a class="dropdown-item" href="#">Your Auctions</a>
                    <a class="dropdown-item" href="#">Your Bids</a>
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="productCategoryContain">
        <div class="categoryName container-fluid">Category 1</div>
        <div class="products row no-gutters">
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/400/400/mobile/f/d/5/mi-redmi-note-4-na-original-imaeqdxqcrfshtqu.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 1</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 10</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 25</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/pendrive/utility-pendrive/g/g/n/sony-usm16m1-b-in-31301234-original-imaeksnstsxnsxzz.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 2</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 3</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productContent"></div>
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/j63x7rk0/memory-card/microsdhc/4/z/g/sandisk-sdsquar-032g-gn6ma-original-imaewngzfeudzgvm.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 3</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 12</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 45</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/jdq9rbk0/battery-charger/f/s/m/shopsmart-xiomi-mi-xiaomi-redmi-4a-xiaomi-redmi-note-4-xiaomi-original-imaf2kzkbmgkbaha.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 4</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 13</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/jdq9rbk0/battery-charger/f/s/m/shopsmart-xiomi-mi-xiaomi-redmi-4a-xiaomi-redmi-note-4-xiaomi-original-imaf2kzkbmgkbaha.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 5</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 9</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/jdq9rbk0/battery-charger/f/s/m/shopsmart-xiomi-mi-xiaomi-redmi-4a-xiaomi-redmi-note-4-xiaomi-original-imaf2kzkbmgkbaha.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 5</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 9</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
        </div>

        <div class="categoryName container-fluid">Category 2</div>
        <div class="products row no-gutters">
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/400/400/mobile/f/d/5/mi-redmi-note-4-na-original-imaeqdxqcrfshtqu.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 1</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 10</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 25</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/pendrive/utility-pendrive/g/g/n/sony-usm16m1-b-in-31301234-original-imaeksnstsxnsxzz.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 2</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 3</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productContent"></div>
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/j63x7rk0/memory-card/microsdhc/4/z/g/sandisk-sdsquar-032g-gn6ma-original-imaewngzfeudzgvm.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 3</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 12</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 45</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/jdq9rbk0/battery-charger/f/s/m/shopsmart-xiomi-mi-xiaomi-redmi-4a-xiaomi-redmi-note-4-xiaomi-original-imaf2kzkbmgkbaha.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 4</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 13</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/jdq9rbk0/battery-charger/f/s/m/shopsmart-xiomi-mi-xiaomi-redmi-4a-xiaomi-redmi-note-4-xiaomi-original-imaf2kzkbmgkbaha.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 5</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 9</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
            <div class="product col-lg-3 col-md-4 col-sm-6">
                <div class="productImage">
                    <img class="productImageContent" src="https://rukminim1.flixcart.com/image/312/312/jdq9rbk0/battery-charger/f/s/m/shopsmart-xiomi-mi-xiaomi-redmi-4a-xiaomi-redmi-note-4-xiaomi-original-imaf2kzkbmgkbaha.jpeg?q=70"
                        alt="product image">
                </div>
                <div class="productName">Product 5</div>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Initial Bid Rs 9</h6>
                <h6 class="card-subtitle mb-2 text-muted ml-4">Highest Bid Rs 20</h6>
                <div class="bidButton">
                    <a href="#" class="btn btn-primary">Place Bid</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>